.scrollBar {
  --fad-scrollbar-size: 4px;
  --fad-scrollbar-thumb-bg-color: hsl(212deg 5% 50% / 30%);
  --fad-scrollbar-thumb-hover-bg-color: hsl(0deg 0% 65%);
}

.scrollBar::-webkit-scrollbar {
  height: var(--fad-scrollbar-size);
  width: var(--fad-scrollbar-size);
}

.scrollBar::-webkit-scrollbar-thumb {
  background: var(--fad-scrollbar-thumb-bg-color);
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
  background: var(--fad-scrollbar-thumb-hover-bg-color);
}
