.appLayout {
  --navbar-height: 60px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--navbar-height) 1fr;
  grid-template-areas:
    'navbar navbar'
    'sidebar main';
  min-height: 100vh;
}
