.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(255deg 100% 100%);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  width: 90vw;
  max-width: 700px;
  height: 500px;
  max-height: 85vh;
  padding: 25px 40px;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: hsl(0 0% 0% / 0.439);
}
