.dialogContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(255deg 100% 100%);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  width: 90vw;
  max-width: 700px;
  height: 500px;
  max-height: 85vh;
  padding: 25px 40px;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  background-color: hsl(0 0% 0% / 0.439);
}

.resultsList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

.resultItem {
  min-height: 60px;
  background-color: hsl(209 13.3% 95.3%);
  border-radius: 8px;
  padding: 15px 15px 10px;
}

.resultTitle {
  margin: 0;
  color: hsl(201 6.2% 20.5%);
}

.resultDescription {
  margin: 0;
  margin-top: 7px;
  color: hsl(206 5.8% 52.3%);
}

.helpSection {
  margin-top: 30px;
}

.helpTitle {
  margin: 0;
  color: hsl(201 6.2% 20.5%);
}

.helpDescription {
  margin: 0;
  margin-top: 15px;
  color: #555;
  color: hsl(206 5.8% 52.3%);
  max-width: 60ch;
  line-height: 1.5;
  font-size: 0.9rem;
}

.recentSection {
  margin-top: 40px;
}

.recentTitle {
  margin: 0;
  color: hsl(203 6.0% 24.3%);
  font-size: 1rem;
}
