.sidebar {
  position: sticky;
  top: var(--navbar-height);

  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--navbar-height));

  border-right: 1px solid rgb(218, 221, 225);
}

.navlinkContainer {
  flex: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.sectionTitle {
  margin: 0;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navlinkList {
  /* height: 200vh; */

  list-style: none;
  margin: 0;
  padding: 0;
}

.navlinkItem {
  position: relative;
  display: flex;
  align-items: center;
}

.navLink {
  display: block;
  flex: 1;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-size: 0.95rem;
}

.navlinkItem:hover .navLink:not(.activeNavLink) {
  background-color: hsl(0 0% 97.3%);
}

.activeNavLink {
  background-color: hsl(224 87.1% 92.0%);
}

.pinlinkBtn {
  position: absolute;
  right: 10px;
  display: none;
}

.navlinkItem:hover .pinlinkBtn {
  display: block;
}

.pinnedLinkContainer {
  background-color: hsl(0 0% 97.3%);
}

.actionsContainer {
  padding: 10px 15px;
}
